/* start main rules */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background-color: var(--color-bg);
}
:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0, 7);
  --color-black: black;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;
  --transition: all 1s ease;
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
section {
  padding: 6rem 0;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1rem;
}
a {
  color: var(--color-white);
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.text-center {
  text-align: center;
}
.btn {
  color: var(--color-black);
  background: var(--color-white);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  text-transform: capitalize;
  transition: var(--transition);
}
.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}
.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end main rules */

/* ============================================   start NAVBAR   ============================================ */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.scrollNav {
  background-color: var(--color-primary);
}
nav h4 {
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
nav .icon {
  display: none ;
  cursor: pointer;
}
.nav__menue {
  display: flex;
  text-transform: capitalize;
  gap: 4rem;
}
.nav__menue a {
  font-size: 0.9rem;
  transition: var(--transition);
}
.nav__menue a:hover {
  color: var(--color-bg2);
}
.nav__menue li {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* ============================================   end NAVBAR   ============================================ */
/* ============================================   start header   ============================================ */

header {
  height: 100vh;
  margin-bottom: 5rem;
}
.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
  gap: 6rem;
}
header .header-image img {
  border: solid 1rem var(--color-bg2);
  border-radius: 2rem;
}

.header-left p {
  margin: 1rem 0 2.4rem;
}
/* ============================================   end header   ============================================ */
/* ============================================   start category   ============================================ */
.categories {
  background-color: var(--color-bg1);
}
.category-left h2 {
  line-height: 1;
  margin-bottom: 3rem;
}
.category-left p {
  margin: 1rem 0 3rem;
}
.category-container {
  display: grid;
  grid-template-columns: 40% 60%;
}
.category-left {
  margin-left: 4rem;
}
.category-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
}
.category {
  background-color: var(--color-bg2);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}
.category:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}
.category .category-icon {
  background-color: var(--color-primary);
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}
.category:nth-child(2) .category-icon {
  background-color: var(--color-danger);
}
.category:nth-child(3) .category-icon {
  background-color: var(--color-success);
}
.category:nth-child(4) .category-icon {
  background-color: var(--color-warning);
}
.category:nth-child(5) .category-icon {
  background-color: var(--color-success);
}

.category h5 {
  margin-bottom: 0.8rem;
}
.category p {
  font-size: 0.85rem;
}
/* ============================================   end category   ============================================ */
/* ============================================   start courses   ============================================ */

.courses {
  text-align: center;
}
.courses-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.courses h2 {
  margin-bottom: 4rem;
}
.course {
  background-color: var(--color-bg1);
  border: 1px solid transparent;
  transition: var(--transition);
}
.course:hover {
  background-color: transparent;
  border-color: var(--color-primary);
  transform: scale(1.1);
}

.course-info {
  padding: 2rem;
}
.course-info p {
  margin-bottom: 1rem;
}
.course-info h4 {
  margin-bottom: 1rem;
}
/* ============================================   end courses   ============================================ */
/* ============================================   start questions   ============================================ */
.questions {
  text-align: center;
  background-color: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}
.questions-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.questions h2 {
  margin-bottom: 4rem;
}
.question {
  background-color: var(--color-primary);
  text-align: start;
  height: fit-content;
  padding: 1.5rem;
  cursor: pointer;
}
.question h5 {
  margin: 0.5rem 0;
}
.question span {
  margin-right: 1rem;
}
.question p {
  margin-left: 2rem;
  display: none;
}
.question.toggleText p {
  display: block;
}

/* ============================================   end questions   ============================================ */
/* ============================================   start slider   ============================================ */

.slider-container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
  width: 450px;
  margin: auto;
}
.slides {
  display: flex;
  width: 2250px;
  transition: var(--transition);
}
.slide {
  padding-top: 2rem;
  width: 450px;
  text-align: center;
  /* padding: 0; */
}
.slider-container ul li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--color-white);
  display: inline-block;
}
.slider-container ul {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.slider-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 0.7rem solid var(--color-bg1);
}
.slider-info {
  margin-bottom: 2rem;
}
.slider-body {
  background-color: var(--color-primary);
  padding: 2rem;
  position: relative;
}

.next {
  position: absolute;
  right: 0;
  bottom: 50%;
  cursor: pointer;
}
.prev {
  position: absolute;
  bottom: 50%;
}
.slider-body::after {
  content: "";
  height: 3rem;
  width: 3rem;
  background: linear-gradient(
    135deg,
    transparent,
    var(--color-primary),
    var(--color-primary),
    var(--color-primary)
  );
  position: absolute;
  left: 50%;
  top: -0.3rem;
  transform: rotate(45deg) translate(-50%);
}
/* ============================================   end slider   ============================================ */
/* ============================================   start footer   ============================================ */
footer {
  padding-top: 3rem ;
  /* margin-bottom: 3rem ; */
  background-color: var(--color-bg1);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7rem;
}
.footer-container > div h4 {
  margin-bottom: 1.2rem;
}
.footer-container ul li {
  margin-bottom: 0.7rem;
  transition: var(--transition);
}
.footer-container ul li:hover {
  text-decoration: underline;
}
.footer-container .social-icons {
  margin-top: 1rem;
}
.footer-container .fa-brands {
  margin-right: 0.5rem;
}
.copy-right{
  margin-top: 3rem;
background-color: var(--color-bg);
padding: 0.5rem;
}
/* ============================================   end footer   ============================================ */

/* ============================================   media querry   ============================================ */

@media screen and (max-width: 991px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  /* navbar */
  nav .fa-bars{
    display: inline-block;
  }
  nav .fa-bars.hide{
display: none;
  }
  nav .fa-close.active{
    display: block;
      }
  
 
  .nav__menue {
    position: fixed;
    right: 5%;
    top: 5rem;
    display: block;
    width: 18rem;
    display: none;
  }
  .nav__menue.active{
    display: block;
  }
  
  .nav__menue li {
    padding: 0;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }
  .nav__menue li:nth-child(2) {
    animation-delay: 200ms;
  }
  .nav__menue li:nth-child(3) {
    animation-delay: 400ms;
  }
  .nav__menue li:nth-child(4) {
    animation-delay: 600ms;
  }
  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }
  .nav__menue a {
    background-color: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    padding: 1rem 0;
    display: block;
    display: grid;
    place-items: center;
  }
 
  .nav__menue a:hover {
    background-color: var(--color-bg2);
    color: var(--color-white);
  }

  /* header */
  .header-container {
    gap: 0;
  }
  /*  category   */

  .category-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .category-left {
    margin-left: 0;
  }
  /* courses */
  .courses-container {
    grid-template-columns: 1fr 1fr;
  }
  .courses article:nth-child(3) {
    position: relative;
    left: 50%;
  }
  /* questions */
  .questions-container {
    grid-template-columns: 1fr;
  }
  /* footer */
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}
/* mobile media */
@media (hover:hover) {
  .course:hover {
    background-color: transparent;
    border-color: var(--color-primary);
  }
  
}
@media screen and (max-width: 767px) {
  /* header */
  .header-container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 3rem;
  }
  .header-btn {
    margin-bottom: 2rem;
  }
  /* categories */
  .categories{
    text-align: center;
  }
  .category-right {
    grid-template-columns: 1fr 1fr;

  }
  .category-icon{
    margin: auto;
  }
  /* courses */
  .courses-container {
    grid-template-columns: 1fr;
  }
  .courses article:nth-child(3) {
    position: static;
    left: 0;
  }
  .course:hover {
    transform: scale(1);
  }
  /* footer */
  .footer-container {
    text-align: center;
    grid-template-columns: 1fr ;
  }
 
  
}
